<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="col-md-12">
      <div class="jumbotron">
        <h1 class="center">
          {{'JUMBOTRON.TITLE'|translate}}
        </h1>
        <p>
          {{'JUMBOTRON.TEXT'|translate}}
        </p>
      </div>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
          <div class="row">

          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <form novalidate class="state-form form-horizontal" name="pc.stateForm">
                <div class="form-group" ng-class="{ 'has-error': pc.stateForm.inputCard.$touched && pc.stateForm.inputCard.$invalid }">
                  <label for="inputCard" class="col-sm-2 control-label">
                    {{'MAIN.CARD_TYPE'|translate}}
                  </label>
                  <div class="col-sm-5">
                    <div class="btn-group" >
                      <label class="btn btn-info" name="inputCard" required ng-model="pc.payment.creditCard" uib-btn-radio="'master'">MasterCard</label>
                      <label class="btn btn-info" name="inputCard" required ng-model="pc.payment.creditCard" uib-btn-radio="'visa'">VisaElectron</label>
                      <label class="btn btn-info" name="inputCard" required ng-model="pc.payment.creditCard" uib-btn-radio="'maestro'">Maestro</label>
                    </div>
                    <div ng-messages="pc.stateForm.inputCard.$error" ng-show="pc.stateForm.inputCard.$touched">
                      <div ng-messages-include="./app/shared/messages.html"></div>
                    </div>
                  </div>

                </div>
                <div class="form-group" ng-class="{ 'has-error': pc.stateForm.inputNumber.$touched && pc.stateForm.inputNumber.$invalid }">
                  <label for="inputNumber" class="col-sm-2 control-label">
                    {{'MAIN.CARD_NUM'|translate}}
                  </label>

                  <div class="col-sm-5">
                    <input type="text" class="form-control" name="inputNumber"  ng-model="pc.payment.cardNumber" placeholder="{{'MAIN.CARD_NUM'|translate}}" required/>
                    <div ng-messages="pc.stateForm.inputNumber.$error" ng-show="pc.stateForm.inputNumber.$touched">
                      <div ng-messages-include="./app/shared/messages.html"></div>
                    </div>
                  </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error': pc.stateForm.inputDate.$touched && pc.stateForm.inputDate.$invalid }">
                  <label for="inputDate" class="col-sm-2 control-label">
                    {{'MAIN.EXPIRATION_DATE'|translate}}
                  </label>

                  <div class="col-sm-3">
                    <input type="text" class="form-control" name="inputDate"  ng-model="pc.payment.expirationMonth" placeholder="MM ({{'MAIN.EXAMPLE'|translate}}08)" required ng-minlength="2" ng-maxlength="2" ng-pattern="/^(0?[1-9]|1[012])$/"/>
                  </div>

                  <div class="col-sm-1">
                    /
                  </div>

                  <div class="col-sm-3">
                    <input type="text" class="form-control"  name="inputDate" ng-model="pc.payment.expirationYear" placeholder="{{'MAIN.YY'|translate}}" required ng-minlength="2" ng-maxlength="2"/>
                  </div>

                  <div ng-messages="pc.stateForm.inputDate.$error" ng-show="pc.stateForm.inputDate.$touched">
                    <div ng-messages-include="./app/shared/messages.html"></div>
                  </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error': pc.stateForm.inputSecCode.$touched && pc.stateForm.inputSecCode.$invalid }">
                  <label for="inputSecCode" class="col-sm-2 control-label">
                    {{'MAIN.SECURITY_CODE'|translate}}
                  </label>

                  <div class="col-sm-3">
                    <input type="text" class="form-control" name="inputSecCode" ng-model="pc.payment.securityCode"  ng-required="pc.isSecCodeNeeded()" ng-maxlength="3" ng-pattern="/^[0-9]{3,}$/" placeholder="{{'MAIN.SECURITY_CODE'|translate}}" />
                    <div ng-messages="pc.stateForm.inputSecCode.$error" ng-show="pc.stateForm.inputSecCode.$touched">
                      <div ng-messages-include="./app/shared/messages.html"></div>
                      <p ng-message="pattern">{{'MESSAGES.NUMBER'|translate}} 3)</p>

                    </div>
                  </div>
                  <a href="#" ng-mouseover="pc.howerOwer()" ng-mouseleave="pc.howerOwer()">{{'MAIN.WHAT_THIS'|translate}}</a>
                  <div ng-show="pc.showTooltip" id="j-cvv2-tooltip" class="i-tooltip-cvv2 i-tooltip i-tooltip-down i-tooltip-blue i-tooltip-arrow-left-30px" data-widget-cid="widget-6" style="width: 315px; z-index: 99; position: absolute; left: 345.359px; top: 170px; display: block; visibility: visible;">
                    <img src="./assets/images/card.png" alt="" class="cardPicture" /> {{'MAIN.TOOLTIP'|translate}}
                  </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error': pc.stateForm.inputName.$touched && pc.stateForm.inputName.$invalid }">
                  <label for="inputName" class="col-sm-2 control-label">
                    {{'MAIN.CARDHOLDER_NAME'|translate}}
                  </label>

                  <div class="col-sm-3">
                    <input type="text" class="form-control" name="inputName" ng-model="pc.payment.cardholderName"  placeholder="  {{'MAIN.NAME'|translate}}" required/>
                  </div>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" name="inputName" ng-model="pc.payment.cardholderSurname"  placeholder="{{'MAIN.SURNAME'|translate}}" required/>
                  </div>
                  <div ng-messages="pc.stateForm.inputName.$error" ng-show="pc.stateForm.inputName.$touched">
                    <div ng-messages-include="./app/shared/messages.html"></div>
                  </div>
                </div>

                <div>
                  <br>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-6">

                    <button type="submit" class="btn btn-warning btn-large" ng-click="pc.validatePayment()">
                      {{'MAIN.PAY_NOW'|translate}}
                    </button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
        <div class="col-md-1">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
